# .env.example
DATABASE_URL="postgresql://user:password@neon-host:5432/musicstore?sslmode=require"

# NextAuth configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="super-secret-nextauth-hash-value-32chars"

# Third Party Social Login Providers (Google Console)
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret-key"

# Third Party Social Login Providers (Facebook Developer Portal)
FACEBOOK_CLIENT_ID="your-facebook-app-client-id"
FACEBOOK_CLIENT_SECRET="your-facebook-app-secret-key"
